In [11]:
import mysql.connector 

mydb = mysql.connector.connect(
    host="localhost",
    port=3307,
    user="app_user",
    password="app_pass",
    database="store",
    charset="utf8mb4"
)

cursor = mydb.cursor(dictionary=True)
cursor.execute("SHOW TABLES;")
tables = cursor.fetchall()
print(tables)

[{'Tables_in_store': 'employee'}, {'Tables_in_store': 'products'}, {'Tables_in_store': 'store'}, {'Tables_in_store': 'transaction_item'}, {'Tables_in_store': 'transactions'}]

In [ ]:
cursor = mydb.cursor()
cursor.execute("select * from transactions where created_at <= NOW() - INTERVAL 7 DAY;")
result = cursor.fetchall()

for row in result:
    print(row)

(1, 5, '0901234567', datetime.datetime(2025, 10, 28, 9, 30), 'cash', Decimal('0.00'), 560000, 56)
(2, 5, '0902345678', datetime.datetime(2025, 10, 29, 10, 15), 'card', Decimal('5.00'), 980000, 98)

In [13]:
cursor.execute("SELECT NOW();")
current_time = cursor.fetchone()
print("Current time from database:", current_time)

Current time from database: {'NOW()': datetime.datetime(2025, 11, 5, 7, 57, 18)}

In [74]:
cursor = mydb.cursor()
cursor.execute("SELECT * FROM transaction_item;")
result = cursor.fetchall()

print("Connected to:", result)

Connected to: [(1, 'OEMNGD1673', 1), (1, 'THE001', 1), (2, 'OEMST661', 1), (2, 'SC_F2024', 2), (3, 'OEMMD945', 1), (3, 'OEMTM421', 3), (4, 'ERKLT080-10', 1), (4, 'OEMKS224', 1), (4, 'OEMST716', 2), (5, 'BS101', 2), (5, 'SC_MS1947', 1)]

In [27]:
cursor = mydb.cursor()
cursor.execute("SELECT * FROM transactions;")
result = cursor.fetchone()

print("Connected to:", result)

cursor.close()
mydb.close()

Connected to: None

In [ ]:
from sqlalchemy import create_engine, text

def get_engine():
    DB_USER = 'admin'
    DB_PASS = 'admin123'
    DB_HOST = 'localhost'   
    DB_PORT = '5433'
    DB_NAME = 'loyalty'
    return create_engine(
        f'postgresql+psycopg2://{DB_USER}:{DB_PASS}@{DB_HOST}:{DB_PORT}/{DB_NAME}'
    )

engine = get_engine()
with engine.connect() as conn:
    result = conn.execute(text('SELECT * FROM products LIMIT 3;'))
    for row in result:
        print(row)

In [2]:
get_engine()

Engine(postgresql+psycopg2://admin:***@localhost:5433/my_database)

In [3]:
engine = get_engine()
with engine.connect() as conn:
    result = conn.execute(text('SELECT * FROM customer_info'))
    for row in result:
        print(row)

In [ ]:
TABLES = ["transactions", "transaction_item"]

def extract_transaction_data(store_name, engine):
    print(f"Extracting data from {store_name} ...")

    data = {}
    # Mở kết nối đúng cách
    with engine.connect() as conn:
        for table in TABLES:
            try:
                df = conn.execute(text(f'SELECT * FROM loyalty.{table}'))
                data[table] = df
                print(f"✅ Loaded {table}: {len(df)} rows")
            except Exception as e:
                print(f"⚠️ Error extracting {table}: {e}")

    return data

In [78]:
import pandas as pd 


# --- Hàm extract ---
def extract_transaction_data(store_name, cursor):
    print(f"Extracting data from {store_name} ...")

    data = {}
    for table in TABLES:
        try:
            cursor.execute(f"SELECT * FROM {table}")
            rows = cursor.fetchall()
            cols = [desc[0] for desc in cursor.description]
            df = pd.DataFrame(rows, columns=cols)
            data[table] = df
            print(f"✅ Loaded {table}: {len(df)} rows, columns = {list(df.columns)}")
        except Exception as e:
            print(f"❌ Error extracting {table}: {e}")

    # Lấy hai bảng
    df_tr = data.get("transactions")
    df_item = data.get("transaction_item")

    if df_tr is None or df_item is None or df_tr.empty or df_item.empty:
        print("⚠️ Một trong hai bảng không có dữ liệu.")
        return None

    print("Columns in transactions:", df_tr.columns.tolist())
    print("Columns in transaction_item:", df_item.columns.tolist())

    # --- Gom sản phẩm theo transaction_id ---
    df_item_sorted = df_item.sort_values(by=["transaction_id", "product_id"])
    grouped = df_item_sorted.groupby("transaction_id")

    item_dicts = []
    for transaction_id, group in grouped:
        row_dict = {"transaction_id": transaction_id}
        for i, (_, r) in enumerate(group.iterrows(), start=1):
            row_dict[f"product_id_{i}"] = r["product_id"]
            row_dict[f"quantity_{i}"] = r["quantity"]
        item_dicts.append(row_dict)

    df_item_expanded = pd.DataFrame(item_dicts)

    # --- Merge vào bảng transactions ---
    df_joined = pd.merge(df_tr, df_item_expanded, on="transaction_id", how="left")


    print(f"✅ Exported")
    return df_joined

In [79]:
df = extract_transaction_data('store_1', cursor)

Extracting data from store_1 ...
✅ Loaded transactions: 5 rows, columns = ['transaction_id', 'employee_id', 'customer_id', 'created_at', 'payment_method', 'discount', 'final_amount', 'point_changed']
✅ Loaded transaction_item: 11 rows, columns = ['transaction_id', 'product_id', 'quantity']
Columns in transactions: ['transaction_id', 'employee_id', 'customer_id', 'created_at', 'payment_method', 'discount', 'final_amount', 'point_changed']
Columns in transaction_item: ['transaction_id', 'product_id', 'quantity']
✅ Exported

In [81]:
df.to_csv("store1.csv", index=False)

In [21]:
import json 

with open('central/config/pos_config.json', 'r') as f:
    pos_configs = json.load(f)

for conn in pos_configs:
    print(conn['mysql_conn_id_airflow'])

mysql_pos_connection
mysql_pos_connection

In [20]:
from datetime import datetime

today_date = datetime.now().strftime("%Y_%m_%d")
today_date

'2025_11_05'